[submodule "modules/evil-leader"]
	path = modules/evil-leader
	url = https://github.com/cofi/evil-leader
[submodule "modules/evil-mode"]
	path = modules/evil-mode
	url = https://github.com/ivucica/evil-mode
[submodule "modules/nlinum"]
	path = modules/nlinum
	url = https://github.com/emacsmirror/nlinum
[submodule "modules/php-mode"]
	path = modules/php-mode
	url = https://github.com/ejmr/php-mode
[submodule "modules/tuareg"]
	path = modules/tuareg
	url = https://github.com/ocaml/tuareg
[submodule "modules/undo-tree"]
	path = modules/undo-tree
	url = https://github.com/emacsmirror/undo-tree
[submodule "modules/go-mode"]
	path = modules/go-mode
	url = https://github.com/dominikh/go-mode.el
[submodule "modules/scala-mode2"]
	path = modules/scala-mode2
	url = https://github.com/hvesalai/scala-mode2
[submodule "modules/haskell-mode"]
	path = modules/haskell-mode
	url = https://github.com/haskell/haskell-mode
[submodule "modules/magit"]
	path = modules/magit
	url = https://github.com/magit/magit
[submodule "modules/clojure-mode"]
	path = modules/clojure-mode
	url = https://github.com/clojure-emacs/clojure-mode
[submodule "modules/git-modes"]
	path = modules/git-modes
	url = https://github.com/magit/git-modes
[submodule "modules/dash"]
	path = modules/dash
	url = https://github.com/magnars/dash.el
[submodule "modules/with-editor"]
	path = modules/with-editor
	url = https://github.com/magit/with-editor
[submodule "modules/proof-general"]
	path = modules/proof-general
	url = https://github.com/ProofGeneral/PG
