[submodule "modules/evil-leader"]
	path = modules/evil-leader
	url = https://github.com/cofi/evil-leader
[submodule "modules/evil-mode"]
	path = modules/evil-mode
	url = https://github.com/ivucica/evil-mode
[submodule "modules/nlinum"]
	path = modules/nlinum
	url = https://github.com/emacsmirror/nlinum
[submodule "modules/php-mode"]
	path = modules/php-mode
	url = https://github.com/ejmr/php-mode
[submodule "modules/tuareg"]
	path = modules/tuareg
	url = https://github.com/ocaml/tuareg
[submodule "modules/undo-tree"]
	path = modules/undo-tree
	url = https://github.com/emacsmirror/undo-tree
[submodule "modules/go-mode"]
	path = modules/go-mode
	url = https://github.com/dominikh/go-mode.el
[submodule "evil-leader"]
	path = evil-leader
	url = https://github.com/cofi/evil-leader
[submodule "evil-mode"]
	path = evil-mode
	url = https://github.com/ivucica/evil-mode
[submodule "nlinum"]
	path = nlinum
	url = https://github.com/emacsmirror/nlinum
[submodule "undo-tree"]
	path = undo-tree
	url = https://github.com/emacsmirror/undo-tree
[submodule "tuareg"]
	path = tuareg
	url = https://github.com/ocaml/tuareg
[submodule "go-mode"]
	path = go-mode
	url = https://github.com/dominikh/go-mode.el
[submodule "php-mode"]
	path = php-mode
	url = https://github.com/ejmr/php-mode
